<app-common-header></app-common-header>

<div class="card text-center m-3">
  <h3 class="card-header">Change Password</h3>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="form-group row">
          <label for="oldPassword" class="col-sm-2 col-form-label"
            >Old Password :
          </label>
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              name="oldPassword"
              [(ngModel)]="model.oldPassword"
              placeholder="Old Password"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="newPassword" class="col-sm-2 col-form-label"
            >New Password :
          </label>
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              placeholder="New Password"
              name="newPassword"
              [(ngModel)]="model.newPassword"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmNewPassword" class="col-sm-2 col-form-label"
            >Confirm New Password :
          </label>
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              placeholder="Confirm New Password"
              name="newPassword"
              [(ngModel)]="model.confirmNewPassword"
            />
          </div>
          <!-- <div *ngIf="password()">Password Not Match!</div> -->
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <button (click)="changePassword()" class="btn btn-success">
              Change
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <app-common-header></app-common-header> -->
</div>
