<app-common-header></app-common-header>
<div class="card text-center m-3">
  <h3 class="card-header">Booking Records</h3>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Date</th>
          <th scope="col">Points</th>
          <th scope="col">Cancel</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of datasource; let i = index">
        <tr>
          <!-- <td>{{ datasource.id }}</td> -->
          <td>{{ item.courseName }}</td>
          <td>{{ item.courseDate }}</td>
          <td>{{ item.numberOfPoints }}</td>
          <td>
            <button
              id="{{ item.bookingId }}"
              type="button"
              class="btn btn-dark"
              (click)="cancelBooking(item.bookingId); item.click = true"
              [disabled]="item.click"
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div *ngFor="let item of pageOfItems">{{ item.name }}</div> -->
  </div>
  <div class="card-footer pb-0 pt-3">
    <mat-paginator
      [length]="resultsLength"
      [pageIndex]="0"
      [pageSize]="10"
      (page)="onPageFired($event)"
      showFirstLastButtons
      hidePageSize
    >
    </mat-paginator>
  </div>
</div>
