<app-common-header></app-common-header>
<div class="card text-center m-3">
  <h3 class="card-header">Book a Class</h3>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="form-group row">
          <label for="courseName" class="col-sm-2 col-form-label"
            >Course Name :
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="courseName"
              [(ngModel)]="model.courseName"
              placeholder="Course Name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="instructor" class="col-sm-2 col-form-label"
            >Instructor :
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Instructor"
              name="tutorName"
              [(ngModel)]="model.tutorName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="courseDate" class="col-sm-2 col-form-label"
            >From Date :
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="From Date"
              name="fromDate"
              [(ngModel)]="model.fromDate"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="courseDate" class="col-sm-2 col-form-label"
            >To Date :
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="To Date"
              name="toDate"
              [(ngModel)]="model.toDate"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <button (click)="buttonClicked('0')" class="btn btn-success">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spin fa-spinner fa-5x" *ngIf="loading"></i> <br />
      Loading events...
    </div>
  </ng-template>

  <div class="card-body">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Instructor</th>
          <th scope="col">Date/Time</th>
          <th scope="col">Class</th>
          <th scope="col">Points</th>
          <th scope="col">Book</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of datasource">
        <tr>
          <td>{{ item.courseName }}</td>
          <td>{{ item.tutorName }}</td>
          <td>{{ item.courseDate }} {{ item.courseStartTime }}</td>
          <td>{{ item.capacity }}</td>
          <td>{{ item.numberOfPoints }}</td>
          <td>
            <!-- <a *ngIf="item.isCourseAvailable" href="#" (click)="eventClicked(item)">Book</a> -->
            <button  type="button" class="btn btn-primary" *ngIf="item.isCourseAvailable"  (click)="eventClicked(item)">Book</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pb-0 pt-3">
    <mat-paginator
      [length]="resultsLength"
      [pageIndex]="0"
      [pageSize]="10"
      (page)="onPageFired($event)"
      showFirstLastButtons
      hidePageSize
    >
    </mat-paginator>
  </div>
</div>
