<div class="container col-lg-6">
  <h1 class="text-center">DanceBooking</h1>
  <div class="sub-header">SignUp</div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="signUpForm" (ngSubmit)="handleSignUp()">
        <div class="form-group col-5">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            [(ngModel)]="model.username"
            placeholder="Enter User Name"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="form-group col">
          <label>Email</label>
          <input
            type="text"
            formControlName="userEmail"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }"
            [(ngModel)]="model.userEmail"
            placeholder="Enter User Email"
          />
          <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
            <div *ngIf="f.userEmail.errors.required">Email is required</div>
            <div *ngIf="f.userEmail.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            [(ngModel)]="model.password"
            name="password"
            placeholder="Enter password"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary mr-1">SignUp</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
