<app-common-header></app-common-header>
<div class="card text-center m-3">
  <h3 class="card-header">Packages Bought</h3>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Pkg/Award(Points,Price)</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of datasource; let i = index">
        <tr>
          <td>{{ item.packageType }}</td>
          <td>{{ item.packageFromDate }}</td>
          <td>{{ item.packageToDate }}</td>
          <!-- <td>{{ item.packageBalance }}</td> -->
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer pb-0 pt-3">
    <mat-paginator
      [length]="resultsLength"
      [pageIndex]="0"
      [pageSize]="10"
      (page)="onPageFired($event)"
      showFirstLastButtons
      hidePageSize
    >
    </mat-paginator>
  </div>
</div>
