<!-- <app-home></app-home> -->
<div class="container col-lg-6">
  <h1 class="text-center">DanceBooking</h1>
  <div class="sub-header">Login/SignUp</div>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <!-- <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div> -->
        <div class="form-group">
          <label for="email">User Name :</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="model.username"
            placeholder="Enter User Name"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="model.password"
            name="password"
            placeholder="Enter password"
            name="password"
          />
        </div>
        <button (click)="handleLogin()" class="btn btn-primary mr-1">
          Login
        </button>
        <button [routerLink]="'/signup'" class="btn btn-success mr-1">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
